.app__stay {
  background-color: var(--primary-bg-color);
  border-radius: 30px;
  box-shadow: 0px 0px 20px 5px #0000001a;
  padding: 100px 68px;

  h1 {
    text-align: center;
    padding-bottom: 50px;
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
  }
}

.app__stay-info {
  p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    span {
      color: var(--blue-font-color);
      font-weight: 600;
    }
  }
}

//Tab
//Tab
//Tab

@media screen and (max-width: 900px) {
  .app__stay {
    
    h1 {
      font-size: 34px;
      line-height: 50px;
      color: var(--primary-font-color);
      text-align: center;
    }
  }

  .app__stay-info {
    
    p {
      font-family: Poppins;
      font-size: 17px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }

}

//Mob
//Mob
//Mob

@media screen and (max-width: 500px) {
  .app__stay {
    padding: 100px 20px;
    h1 {
      font-size: 30px;
      line-height: 35px;
    }
  }

  .app__stay-info {
    
    p {
      font-size: 16px;
      
    }
  }

}

